#svg-animation {

	.navigation {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top:0;
		left:0;
		right:0;
		padding:0;
		padding-left:20px;
		padding-right:20px;
		position: relative;

		@media(min-width:$screen-md-min) {
			padding-left:30px;
			padding-right:30px;
		}

		@media(min-width:$screen-lg-min) {
			padding-left:40px;
			padding-right:40px;
		}

		@media(min-width:$screen-xl-min) {
			padding-left:60px;
			padding-right:60px;
		}

	}

	.nav {


		&--logo {
			width:200px;
			margin:40px 0;

			svg {
				display: block;
				width:100%;
				height:auto;
			}
		}

		&--list {

			flex:1;
			display: flex;
			align-items: center;

			ol {
				list-style-type: none;
				margin:0;
				padding:0;
				display: flex;
				justify-content: center;
				flex:1 0 100%;
			}

			li {

				+ li {
					margin-left:30px;
				}

			}

			a {
				font-weight: 500;
				display: block;
				height:auto;
				font-family: "Rubik";
			}

		}

		&--form {

			input {

			}

			button {

			}

		}

		&--bg {
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index: -1;
		}

	}

	section {
		height:100vh;
		display: flex;
		justify-content: center;

		#svg {
			margin-top:50px;
			width:550px;
			max-width: 100%;
			height:auto;
			display: block;
			align-self: center;


			g {
				backface-visibility: hidden;
				transform-style: preserve-3d;
				perspective: 550px;
				opacity: 0;
				fill:rgb(130, 117, 82);
				transform-origin: 50% 50%;
			}
		}
	}

}