.graphic-wrapper {

	height:100vh;
	min-height:600px;
	position:relative;
	z-index:2;
	background: -webkit-radial-gradient(center, ellipse cover, #D4FFEA 0%,#7FFFC4 100%);
	overflow:hidden;

	.col-12 {
		margin:0;
		height:100vh;
	}

}

.graphic {

	margin:0;
	height:100vh;

	svg {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		z-index:3;
		max-width:680px;
	}

}

#circles {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:2;
	max-width:680px;
}

@for $i from 1 through 3 {
  $direction: left;
  $speed: really-fast;
  $color:$i * 0.1;
  #circle#{$i} {
  	opacity:$color;
  	fill:#397773;
    @if $i % 2 == 1 {
      $direction: right;
      $speed: really-fast;
    } @else {
      $direction: left;
      $speed: slow;
    }
    @include rotate(rabbit, $direction, $speed, 278px, 278px);
  }
}

#Layer_1 {
	display:none;
}