---
layout: default
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/stylesheet.css">
  </head>
  <body>
<!--     <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav> -->
    <header>
    	<h1>{{ page.title }}</h1>
    </header>
    
    <section>
    	<div class="container">
    		<div class="row">
    			<div class="col-12">
    				{{ content }}
    			</div>
    		</div>
    	</div>
    </section>

    <footer>
      &copy; to me
    </footer>

    <script src="/assets/scripts.js"></script>
    
  </body>
</html>